body {
    font-size: 13px;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    color: #444;
}
h1, #author {
  text-align: center;
  margin: 0;
}